<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ClinicApp</title>
  </head>
  <body style="max-width: 400px; margin: auto; margin-top: 350px;">
    <h1>Welcome to ClinicApp!</h1>
    <br />
    <div style="position: relative; left: 60px">
      <a href="/signup" style="font-size: x-large">Signup</a>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="/login" style="font-size: x-large">Login</a>
    </div>
  </body>
</html>
