<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body
    style="
      border: 2px solid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
    "
  >
    <h1>Signup</h1>
    <form action="/signup" method="POST">
      <label>Username:</label>
      <input type="text" id="username" name="username" required />
      <br /><br />
      <label>Password:</label>
      <input type="password" id="password" name="password" required />
      <br /><br />
      <label>Role:</label>
      <input type="radio" id="doctor" name="role" value="Doctor" required />
      <label for="doctor">Doctor</label>
      <input type="radio" id="patient" name="role" value="Patient" required />
      <label for="patient">Patient</label>
      <br /><br />
      <button type="reset">Reset</button>
      <button type="submit">Signup</button>
      <a href="/login">Already have an account?</a>
    </form>
  </body>
</html>
